build
dist / media
node_modules
.DS_Store
.env
.env.development
.next
.vercel

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml

# Backup migrations
src/migrations/backup/
